<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style/reset.css"> <!-- RESETAR VALORES DO NAVEGADOR -->
    <!-- LINK DO BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style/style.css">  <!-- PERSONALIZAÇÃO STYLE.CSS -->
    <!-- Modificar FavCon -->
    <link rel="icon" type="image/x-icon" href="/static/style/imagens/dclogo.svg">
    <title>MundoMARVEL</title>
</head>
<body>

    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <img src="/static/style/imagens/dclogo.svg" alt="dc da logo">
                <h1>Justice League</h1>
            </div>
            <div class="navbar-pesquisa">
                <form onsubmit="" class="form-pesquisa">
                    <input type="text" class="form-input" placeholder="Escolha seu super herói ..." name = "pesquisa">
                    <button type="submit" class = "btn-pesquisar">
                        Submit
                    </button>
                    <div class="lista-pesquisa" id = "lista-pesquisa">
                        <img src="" alt="">
                        <p></p>
                    </div>
                </form>
            </div>
        </div>
    </header>
    
    <body>
        <div class="heroi-card">
            <div class="div-heroi-img">
                <img class="heroi-img" src="" alt="">
            </div>
            <div class="heroi-info">
                <div class="infosuperior">
                    <h3 class="heroi-nome"></h3>
                    <h5 class="heroi-nome-real"></h5>
                </div>
                
                <div class="div-powerstats">

                    <h3>PowerStats</h3>
                    <ul class="powerstats-card">
                        <li class="itens-status card-poder">
                            <img class="" src="/static/style/imagens/biceps-svgrepo-com.svg" alt="biceps">
                            <p class="label-status">Poder:</p>
                            <p class="poder-valor"></p>
                        </li>
                        <li class="itens-status card-velocidade">
                            <img class="filtro" src="/static/style/imagens/person-running-solid.svg" alt="running">
                            <p class="label-status">Velocidade:</p>
                            <p class="velocidade-valor"></p>
                        </li>
                        <li class="itens-status card-combate">
                            <img class="filtro" src="/static/style/imagens/hand-fist-solid.svg" alt="first">
                            <p class="label-status">Combate:</p>
                            <p class="combate-valor"></p>
                        </li>
                        <li class="itens-status card-inteligencia">
                            <img class="filtro" src="/static/style/imagens/brain-solid.svg" alt="brain">
                            <p class="label-status">Inteligencia:</p>
                            <p class="inteligencia-valor"></p>
                        </li>
                        <li class="itens-status card-forca">
                            <img class="filtro" src="/static/style/imagens/dumbbell-solid.svg" alt="dumbbell">
                            <p class="label-status">Força:</p>
                            <p class="forca-valor"></p>
                        </li>
                        <li class="itens-status card-durabilidade">
                            <img class="filtro" src="/static/style/imagens/shield-halved-solid.svg" alt="Shield">
                            <p class="label-status">Durabilidade:</p>
                            <p class="durabilidade-valor"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </body>

    <footer>
        <div class="footerlogo">
            <img src="/static/style/imagens/dclogo.svg" alt="dc logo">
            <h3><a href="https://www.dc.com/">Site Oficial</a></h3>
        </div>
        <ol class="nomes">
            <li>Alexander</li>
            <li>Andre</li>
            <li>Lucas</li>
            <li>Victor</li>
            <li>Manoel</li>
            <li>Bryan</li>
            <li>Douglas Maia</li>
        </ol>
        
        
        
        
    </footer>

    <script src="/static/scripts/script.js" ></script>
    <script src="/static/scripts/auth.js" ></script>
</body>
</html>