<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style/reset.css"> <!-- RESETAR VALORES DO NAVEGADOR -->
    <!-- LINK DO BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/style.css">  <!-- PERSONALIZAÇÃO STYLE.CSS -->
    <!-- Modificar FavCon -->
    <link rel="icon" type="image/x-icon" href="../static/style/imagens/super_trunfo.png">
    <title>LegiaoSERRANA</title>
</head>
<body>

    <header>
        <div class="navbar justify-content-md-start">
            <div class="navbar-logo">
                <img src="../static/style/imagens/super_trunfo.png" alt="dc da logo">
                <h1>Legiao<strong>SERRANA</strong></h1>
            </div>
        </div>
    </header>
    
    <main>
        <div class="div-cards d-flex flex-wrap justify-content-center align-items-center p-4">
            <div class="heroi-card heroi1-card row">
                <div class="div-heroi-img col-md-5">
                    <img class="heroi-img heroi-img1" src="" alt="">
                </div>
                <div class="heroi-info col-md-7">
                    <div class="heroi-input">
                        <form onsubmit="" class="heroi-pesquisa heroi1-pesquisa">
                            <input type="text" class="form-input" placeholder="Escolha seu super herói ..." value="70" name = "pesquisa1">
                            <button type="submit" class = "btn-pesquisar">
                                Submit
                            </button>
                        </form>
                    </div>
                    <div class="infosuperior d-flex flex-wrap">
                        <h3 class="heroi-nome heroi-nome1"></h3>
                        <h5 class="heroi-nome-real heroi-nome-real1"></h5>
                    </div>
                    
                    <div class="div-powerstats p-2">
                        <h3 class="powerstats-titulo">PowerStats</h3>
                        <ul class="powerstats-card p-4">
                            <li class="itens-status card-poder">
                                <img class="" src="../static/style/imagens/biceps-svgrepo-com.svg" alt="biceps">
                                <p class="label-status">Poder:</p>
                                <p class="poder-valor poder-valor1"></p>
                            </li>
                            <li class="itens-status card-velocidade">
                                <img class="filtro" src="../static/style/imagens/person-running-solid.svg" alt="running">
                                <p class="label-status">Velocidade:</p>
                                <p class="velocidade-valor velocidade-valor1"></p>
                            </li>
                            <li class="itens-status card-combate">
                                <img class="filtro" src="../static/style/imagens/hand-fist-solid.svg" alt="first">
                                <p class="label-status">Combate:</p>
                                <p class="combate-valor combate-valor1"></p>
                            </li>
                            <li class="itens-status card-inteligencia">
                                <img class="filtro" src="../static/style/imagens/brain-solid.svg" alt="brain">
                                <p class="label-status">Inteligencia:</p>
                                <p class="inteligencia-valor inteligencia-valor1"></p>
                            </li>
                            <li class="itens-status card-forca">
                                <img class="filtro" src="../static/style/imagens/dumbbell-solid.svg" alt="dumbbell">
                                <p class="label-status">Força:</p>
                                <p class="forca-valor forca-valor1"></p>
                            </li>
                            <li class="itens-status card-durabilidade">
                                <img class="filtro" src="../static/style/imagens/shield-halved-solid.svg" alt="Shield">
                                <p class="label-status">Durabilidade:</p>
                                <p class="durabilidade-valor durabilidade-valor1"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="div-versus-gif" style="height: 200px;">
                <img class="versus-gif" src="../static/style/imagens/giphy.gif" alt="">
            </div>
            <!-- <h2 class="versus">VS</h2> -->
            <div class="heroi-card heroi2-card row">
                <div class="div-heroi-img col-md-5">
                    <img class="heroi-img heroi-img2" src="" alt="">
                </div>
                <div class="heroi-info col-md-7">
                    <div class="heroi-input">
                        <form onsubmit="" class="heroi-pesquisa heroi2-pesquisa">
                            <input type="text" class="form-input" placeholder="Escolha seu super herói ..." value="10" name = "pesquisa2">
                            <button type="submit" class = "btn-pesquisar">
                                Submit
                            </button>
                        </form>
                    </div>
                    <div class="infosuperior d-flex flex-wrap">
                        <h3 class="heroi-nome heroi-nome2"></h3>
                        <h5 class="heroi-nome-real heroi-nome-real2"></h5>
                    </div>
                    
                    <div class="div-powerstats p-2">
                        <h3 class="powerstats-titulo">PowerStats</h3>
                        <ul class="powerstats-card mt-4 ml-4">
                            <li class="itens-status card-poder">
                                <img class="" src="../static/style/imagens/biceps-svgrepo-com.svg" alt="biceps">
                                <p class="label-status">Poder:</p>
                                <p class="poder-valor poder-valor2"></p>
                            </li>
                            <li class="itens-status card-velocidade">
                                <img class="filtro" src="../static/style/imagens/person-running-solid.svg" alt="running">
                                <p class="label-status">Velocidade:</p>
                                <p class="velocidade-valor velocidade-valor2"></p>
                            </li>
                            <li class="itens-status card-combate">
                                <img class="filtro" src="../static/style/imagens/hand-fist-solid.svg" alt="first">
                                <p class="label-status">Combate:</p>
                                <p class="combate-valor combate-valor2"></p>
                            </li>
                            <li class="itens-status card-inteligencia">
                                <img class="filtro" src="../static/style/imagens/brain-solid.svg" alt="brain">
                                <p class="label-status">Inteligencia:</p>
                                <p class="inteligencia-valor inteligencia-valor2"></p>
                            </li>
                            <li class="itens-status card-forca">
                                <img class="filtro" src="../static/style/imagens/dumbbell-solid.svg" alt="dumbbell">
                                <p class="label-status">Força:</p>
                                <p class="forca-valor forca-valor2"></p>
                            </li>
                            <li class="itens-status card-durabilidade">
                                <img class="filtro" src="../static/style/imagens/shield-halved-solid.svg" alt="Shield">
                                <p class="label-status">Durabilidade:</p>
                                <p class="durabilidade-valor durabilidade-valor2"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footerlogo d-flex flex-wrap mt-4 p-3">
            <div class="div-footer-logo-img">
                <a href="" class="footerlogo-anchor">
                    <img class = "filtro-logos" src="/static/style/imagens/brainiac-svgrepo-com.svg" alt="dc logo">    
                </a>
            </div>
            <div class="div-footer-logo-img">
                <a href="" class="footerlogo-anchor">
                    <img class = "filtro-logos" src="/static/style/imagens/captain-america-adamantium-shield-svgrepo-com.svg" alt="dc logo">    
                </a>
            </div>
            <div class="div-footer-logo-img">
                <a href="" class="footerlogo-anchor">
                    <img class = "filtro-logos" src="/static/style/imagens/icons8-avengers.svg" alt="dc logo">    
                </a>
            </div>
            <div class="div-footer-logo-img">
                <a href="" class="footerlogo-anchor">
                    <img class = "filtro-logos" src="/static/style/imagens/icons8-harley-quinn-dc.svg" alt="dc logo">    
                </a>
            </div>
            <div class="div-footer-logo-img">
                <a href="" class="footerlogo-anchor">
                    <img class = "filtro-logos" src="/static/style/imagens/spiderman-svgrepo-com.svg" alt="dc logo">    
                </a>
            </div>
            <div class="div-footer-logo-img">
                <a href="" class="footerlogo-anchor">
                    <img class = "filtro-logos" src="/static/style/imagens/icons8-the-flash-sign.svg" alt="dc logo">    
                </a>
            </div>
            <div class="div-footer-logo-img">
                <a href="" class="footerlogo-anchor">
                    <img class = "filtro-logos" src="/static/style/imagens/deadpool.svg" alt="dc logo">    
                </a>
            </div>
            <div class="div-footer-logo-img">
                <a href="" class="footerlogo-anchor">
                    <img class = "filtro-logos" src="/static/style/imagens/icons8-wonder-woman.svg" alt="dc logo">    
                </a>
            </div>
            <div class="div-footer-logo-img">
                <a href="" class="footerlogo-anchor">
                    <img class = "filtro-logos" src="/static/style/imagens/batman-svgrepo-com.svg" alt="dc logo">    
                </a>
            </div>
        </div>
        <ol class="nomes p-3">
            <li>Alexander</li>
            <li>Andre</li>
            <li>Lucas</li>
            <li>Victor</li>
            <li>Manoel</li>
            <li>Bryan</li>
            <li>Douglas Maia</li>
        </ol>    
    </footer>

    <!-- SCRIPTS DE API & AUTH -->
    <script src="/static/scripts/script.js" ></script>
    <script src="/static/scripts/auth.js" ></script>

    <!-- SCRIPTS BOOTSTRAP 4 -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- SCRIPTS BOOTSTRAP 4 -->

</body>
</html>