html, body {
    font-family: "Poppins", sans-serif;

  }

.card {
    opacity: 100%;
    z-index: 1; /* Insira o valor que desejar */
}

.cascading-right {
    margin-right: -50px;
}

.login-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
}
.navbar{
    height: 64px;
    display: flex;
    align-content: center;
    background: linear-gradient(180deg, rgba(38, 34, 202, 0.71) 39.06%, rgba(14, 15, 15, 0.66) 69.27%, rgba(0, 0, 0, 0.66) 100%);
}
.navbar-logo{
    display: flex;
    gap: 1rem;
    color: #FFF;
    justify-content: center;

}
.navbar-logo img {
    width: 47px;
    height: 47px;
    flex-shrink: 0;

}
.navbar-logo h1 {
    
    width: 288px;
    height: 46px;
    flex-shrink: 0;
}
.form-input{
    display: flex;
    width: 295px;
    height: 45px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: #16181E;
    color: #FFF;
}
.form-pesquisa{
    display: flex;
    
}
.heroi-card {
    width: 50%;
    height: auto;
    flex-shrink: 0;
    border-radius: 12px;
    background: #060606;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    color: #FFF;

    
}
.div-heroi-img{
    width: 100%;
    max-width:394px;
    min-width: 200px;
    height: 100%;
    overflow: hidden;
    flex: 2;
}
.heroi-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    
}
.heroi-info{
    flex: 2;
}
.itens-status{
    display: flex;
    gap: 0.5rem;
    
    

}
.itens-status img{
    width: 17px;
    height: 17px;  
    background-color: rgb(233, 233, 233);
}
.infosuperior{
    display: flex;
    gap: 2rem;
    align-items: baseline;
    justify-content: center;
    margin: 60px 0px;
    font-size: 20rem;

}
.infosuperior h3{
    font-size: 3rem ;
}
footer img{
    width: 90px;
    height: 90px;
    flex-shrink: 0;

}

body{
    background-color: #0A0A0A;
}


@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}